@import "header.scss";
@import "footer.scss";
@import "style.scss";
// 幻灯片
#banner {
    width: 100%;
    height: 396px;
    background-color: red;
}
// 楼梯
#loutinav {
    width: 35px;
    position: fixed;
    top: 100px;
    left: 50px;
    border: 1px solid #ddd;
    display: none;
    li {
        width: 35px;
        height: 32px;
        border-bottom: 1px dotted #dddddd;
        text-align: center;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        background: #918888;
        color: #fff;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 32px;
        }
        &:hover {
            background: red;
        }
    }
    .active {
        background: #c00;
        color: #fff;
    }
}
// 楼层
#main-louceng {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .louceng {
        @include contentBox();
        .title {
            width: $width;
            height: 46px;
            margin: 40px auto 20px;
            display: flex;
            justify-content: center;
        }
        fieldset {
            width: 504px;
            height: 46px;
            border-top: 1px solid #333333;
            text-align: center;
            legend {
                padding: 0 48px;
                line-height: 36px;
                height: 36px;
                @include font5524();
            }
        }
        .col-l {
            height: 652px;
            width: 232px;
            margin-bottom: 10px;
            border: 1px solid #dedede;
        }
        .col-r {
            width: 988px;
            height: 662px;
            margin-left: 10px;
        }
    }
    .header {
        width: 232px;
        height: 500px;
        overflow: hidden;
    }
    img {
        transition: all 0.6s;
        &:hover {
            transform: scale(1.1);
        }
    }
    .main {
        width: 212px;
        height: 35px;
        margin: 10px;
        display: flex;
        a {
            display: block;
            text-align: center;
            width: 106px;
            height: 21px;
            margin: 7px 0;
            @include font5514();
            &:hover {
                color: $color;
            }
        }
    }
    .row-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col-1 {
        width: 232px;
        height: 320px;
        margin: 0 5px 10px;
        border: 1px solid #dedede;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header {
            width: 232px;
            height: 232px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                width: 220px;
                height: 220px;
            }
        }
        .content {
            width: 212px;
            height: 57px;
            margin: 10px;
            .name {
                width: 100%;
                padding: 6px 0;
                @include font5514();
                &:hover a {
                    color: $color;
                }
            }
            a {
                display: block;
                @include overflow();
            }

            .price {
                @include fontd414();
            }
        }
    }
    .col-2 {
        width: 480px;
        height: 320px;
        margin: 0 5px 10px;
        border: 1px solid #dedede;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .header {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            img {
                width: 420px;
                height: 420px;
            }
        }
        .content {
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 57px;
            padding: 20px 0 16px;
            background: rgba($color: #fff, $alpha: 0.5);
            .name {
                width: 470px;
                padding: 6px 0;
                margin-left: 10px;
                @include font5514();
                &:hover a {
                    color: $color;
                }
            }
            a {
                display: block;
                @include overflow();
            }
            .price {
                margin-left: 10px;
                width: 470px;
                @include fontd414();
            }
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
}
